

	.page{
		width: auto;
		
	}
	.contact, .loisir{
	display: none;

}
	.flex{
		size: 8px
		
	}
	.portrait{
	flex-direction: column-reverse;
	align-items: center;
}

.chip{
	display: none
}




/*disparition de contact, à propos de moi, loisirs*/

