@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

main, header, footer {
	width: 100%;
}
h2, h3, .titre, .recommandation {
	text-transform: uppercase;
}

.page{
	font-family: 'Quicksand';
	width: 60%;
	margin:auto;
	font-size: 16px;
}

.titres{
	font-size: 40px;
}
.sous-titre{
	font-size: 20px;
	font-weight: bold;
}
.recommandation{
	font-size: 18px;
	font-weight: bold;
}
.dev{
	border-bottom: 2px solid #FBD135;
}


.prenom{
	color: #FBD135;
}
img{
	max-width: 100%;
	border-radius: 60%;
	padding-top: 10%;
	
}
.yellowSide a {
	width: 75%;
	margin: auto;
}

.yellowSide{
	width: 25%;
	background-color: #FBD135;
	text-align: center;

	
}
.whiteSide{
	width: 70%;
	margin:auto;
	padding: 2%
}
.wrapper {
	width: 90%;
	margin: auto;

}

h3{
	font-weight: bold;
	background-color: #51514F;
	color:#FBD135;
	text-align: center;
	

}
.adresse, #moi{
	width:80%;
	margin: auto;
	text-align: justify;
	padding: 8%; /*marge interieur*/
	word-wrap: break-word;	
}
.moi{
	word-wrap: break-word;
	text-align: justify;

	
}


h2{
	border-bottom: 2px solid #FBD135;
	font-size: 29px;

}
.titre{
	font-weight: bold;
	font-size: 19px;

}
.flex{
	display: flex;
	
	
}
.flex-wrap {
	flex-wrap: wrap;
}
.detail{
	display: flex;
	

}
.information{
	width: 60%;
	text-align: justify;
}
.date{
	width: 30%
}


.fas, .far{
	padding-right: 5%;
	color: #FBD135
}

.fa-circle{
	font-size: 11px;
}
.fa-dot-circle{
	font-size: 18px;
}

.fa-biking, .fa-book-reader{
	color: black;
	font-size: 40px;
	padding-bottom: 15%;
}


.soustitre{
	font-size: 18px;
}

.chip{
	margin-right: 5%;
	
}
p{
	margin-bottom: 5px;
	margin-top: 8px;
}
.end2{
	padding-left: 30%;
}

